@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Capriola&family=Days+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sixtyfour&family=Viga&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #369fff;
}

i {
  font-size: 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  /* background-image: url('/assets/bg2.jpg'); */
}

.container .left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
}

.container .left-section .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.container .left-section .logo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.container .left-section .logo a {
  font-weight: 800;
  font-size: 20px;
  color: #006ed3;
}

.menu-btn {
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #d1e6f9;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

.menu-btn i {
  font-size: 18px;
  color: #208bee;
}

.container .left-section .sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .left-section .sidebar .item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.container .left-section .sidebar i {
  color: #bdbdbd;
  transition: all 0.3s ease;
}

.container .left-section .sidebar a {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  color: #bdbdbd;
  position: relative;
  transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a,
.container .left-section .sidebar .item#active i,
.container .left-section .upgrade .link i {
  color: #369fff;
}

.container .left-section .sidebar .item a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: #369fff;
  right: -30px;
  border-radius: 50%;
  top: 0;
  transform: translateY(116%);
  transition: all 0.3s ease;
}

.container .left-section .sidebar .item#active a::after {
  width: 8px;
  height: 8px;
}

.container .left-section .pic img {
  width: 160px;
}

.container .left-section .upgrade {
  background: #ebf6ff;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px;
  margin-bottom: 20px;
  border-radius: 18px;
  cursor: pointer;
}

.container .left-section .upgrade .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .left-section .upgrade .link a {
  font-size: 12px;
}

main {
  border-right: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  padding: 40px 40px 0 40px;
  position: relative;
}
main::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
main {
  border-right: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  padding: 40px 40px 0 40px;
}

main header {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

main .separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

main .separator .info {
  display: flex;
  align-items: center;
  gap: 30px;
}

main .separator .info h3 {
  font-size: 20px;
}

main .separator .info a {
  margin-top: 6px;
  font-size: 14px;
  top: 0;
}

main .analytics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

main .analytics .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 145px;
  min-width: 214px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main .analytics .item:hover {
  transform: translateY(-5px); /* Lift card up slightly on hover */
  animation: pulse 1.5s infinite; /* Apply the pulse animation */
}

@keyframes pulse {
  0% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}

/* Interactive pseudo-element for more engagement */
main .analytics .item::after {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

main .analytics .item:hover::after {
  opacity: 1; /* Reveal the arrow on hover */
}

main .analytics .item:nth-child(1) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

main .analytics .item:nth-child(2) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

main .analytics .item:nth-child(3) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

main .analytics .item:nth-child(4) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

main .analytics .item:nth-child(5) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
main .analytics .item:nth-child(6) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
main .analytics .item:nth-child(7) {
  background: linear-gradient(135deg, #b8e0d2, #ace9e5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

main .analytics .item .progress .info h5 {
  font-size: 20px;
  top: 10%;
  margin-bottom: 20px; /* Menggeser "Sunday" ke atas */
}
main .analytics .item .progress .info p {
  font-size: 15px;
  margin-bottom: 10px;
}
main .analytics .item .time h5 {
  font-size: 18px;
}
main .analytics .item .time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  /* adjust these values as needed */
}

main .analytics .item .centang {
  width: 85px; /* Atau ukuran yang diinginkan */
  height: 85px; /* Untuk menjaga rasio aspek */
  right: 10px;
  bottom: 10px;
  position: absolute;
}

main .analytics .item .silang {
  width: 85px; /* Atau ukuran yang diinginkan */
  height: 85px; /* Untuk menjaga rasio aspek */
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.container .right-section {
  padding: 10px 0px 0px 5px;
  overflow: visible;
}

.container .right-section .separator {
  position: relative; /* Add this if not already positioned */
  margin-bottom: 20px;
  z-index: 1; /* Bring the separator to the front */
}

.container .right-section .separator .info h3 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  line-height: 1.2;
}
.right-section .indikator {
  display: flex; /* Mengatur agar kontainer kartu menggunakan flexbox */
  flex-wrap: wrap; /* Izinkan kartu untuk bungkus jika tidak muat dalam satu baris */
  justify-content: left; /* Pusatkan kartu secara horizontal */
  align-items: flex-start; /* Atur kartu agar mulai dari atas */
  gap: 20px; /* Jarak antar kartu */
}

.right-section .indikator .card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex-direction: row; /* Ubah jika kartu memang diinginkan untuk tampil secara horizontal */
  align-items: center; /* Pusatkan item secara vertikal dalam kartu */
  justify-content: center;
  text-align: left;
  height: 50px;
  width: 300px; /* Sesuaikan lebar agar sesuai dengan konten atau tetapkan nilai spesifik */
}

/* Pastikan .card tidak lagi menggunakan display: grid atau grid-template-columns */
/* Style Khusus untuk masing-masing tipe kartu tetap sama */
.right-section .indikator .card.pH {
  border-left: 10px solid #4caf50;
}

.right-section .indikator .card.moisture {
  border-left: 10px solid #2196f3;
}

.right-section .indikator .card.NPK {
  border-left: 10px solid #ffc107;
}

/* Perbaikan typo pada style teks dalam kartu */
.right-section .indikator .card h5 {
  margin-bottom: 10px; /* Perbaiki dari 'argin-bottom' menjadi 'margin-bottom' */
  font-size: 18px;
  color: #333;
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 6fr 5fr;
  }

  .container .left-section,
  .container main,
  .container .right-section {
    padding: 20px 20px 20px 20px;
  }

  .container .left-section .logo a,
  .container .left-section .sidebar a,
  .container .left-section .upgrade {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .container .left-section {
    position: fixed;
    height: 20vh;
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    top: -20vh;
  }

  .container .left-section .logo {
    flex-direction: column;
    gap: 20px;
  }

  .container .left-section .logo .menu-btn,
  main header .menu-btn {
    display: flex;
  }

  .container .left-section .logo .menu-btn,
  main header h5 {
    font-size: 18px;
    color: #369fff;
    font-weight: 400;
  }

  main .separator .info {
    gap: 15px;
  }

  main .separator .info h3,
  .container .right-section .separator h4 {
    font-size: 20px;
  }

  main .analytics .item {
    min-width: 160px;
  }

  main .analytics .item i {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 100fr;
    padding-top: 80px;
  }

  .container .right-section > .top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 100px;
  }

  .right-section .indikator .card {
    /* Gaya untuk layar tablet */
    padding: 15px;
    margin: 10px auto; /* Pastikan ini tetap auto untuk rata tengah */
  }
}
@media (max-width: 768px) {
  main .analytics .item {
    flex-direction: column; /* Stack the content for smaller screens */
    align-items: flex-start; /* Align items to the start of the card */
    height: auto; /* Let height adjust to content */
  }
}
