@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* html{
  width: 1440px;
} */
body {
  background: #dfe9f5;
}
.container {
  display: flex;
  /* width: 1440px;
  max-width: 100%; */
}
nav {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  height: 100vh;
  width: 250px;
  /* overflow: hidden; */
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
  display: flex;
  /* margin: 10px 0 0 10px; */
}
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 250px;
  padding: 10px;
  transition: 0.3s;
}
nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover:not(.active) {
  background: #eee;
  font-weight: bold;
}
.active {
  font-weight: bold;
}
.logout {
  position: absolute;
  bottom: 0;
}

/* Main Section */
.main {
  position: relative;
  padding: 20px;
  width: 1270px;
}
.main-top {
  display: flex;
  width: 100%;
}
.main-top i {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-top .date {
  margin-left: 5px;
  font-size: 12px;
}
.main-weather {
  display: flex;
  margin-top: 20px;
}

.main-weather .card_left {
  display: contents;
}

.main-weather .card_right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex: 1;
}

/* card-left detail */
.main-weather .card_detail {
  display: grid;
  justify-items: stretch;
  width: 300px;
  height: 180px;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  align-content: space-between;
}
.main-weather .card_detail .content_data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-weather .card_detail .info_data {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #5690d7, rgb(255, 255, 255));
  padding: 10px;
  /* border-top-left-radius: 10px; */
  border-top-right-radius: 10px;
}
.main-weather .card_detail .info_data h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
}

.main-weather .card_detail .info_data p {
  font-size: 14px;
}

.main-weather .card_detail .info_time {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;
}
.main-weather .card_detail .info_time .nilaiweather {
  display: flex;
  flex-wrap: wrap;
}

.main-weather .card_detail button {
  background: rgb(70, 144, 187);
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.main-weather .card_detail button:hover {
  background: rgb(28, 68, 129);
}
.main-weather .card_detail i {
  font-size: 22px;
  padding: 10px;
}

/* card-right detail */
.main-weather .card {
  display: flex;
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  align-content: space-between;
  flex-direction: column;
}
.main-weather .card .content_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom, #5690d7, rgb(255, 255, 255));
  border-top-left-radius: 10px;
  /* border-top-right-radius: 10px;  */
  width: 135px;
}

.main-weather .card .info_data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.main-weather .card .info_data h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: capitalize;
}

.main-weather img {
  height: 75px;
}

.main-weather .card button {
  background: rgb(70, 144, 187);
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-weather .card button:hover {
  background: rgb(28, 68, 129);
}
.main-weather .card i {
  font-size: 22px;
}

#tampilWeather{
  display: flex;
  /* width: 400px; */
}

/* Courses */
.main-course {
  margin-top: 20px;
  text-transform: capitalize;
}
.course-box {
  display: flex;
  flex-wrap: nowrap;
  width: 1200px;
  height: 100%;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul {
  list-style: none;
  display: flex;
}
.course-box ul li {
  margin: 10px;
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}
.course-box ul li:hover {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #000;
}
.course-box ul .active {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.course .box_left {
  display: contents;
}

.course .box_right {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* box-left */
.box_data {
  width: 205px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #dfe9f5;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box_data .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_data_1 {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #dfe9f5;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box_data_1 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box_data_1 .info h3{
  padding-bottom: 10px;
}

.box_data_1 img{
  width: 50px;
  height: 50px;
}
.box_data_1 .bagiancuaca{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.box_data_1 .bagiancuaca h4{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.box_data .info p i {
  font-size: 18px;
  color: #000;
}
.box_data p {
  font-size: 18px;
  margin-top: 5px;
}
.box_data button {
  background: rgb(70, 144, 187);
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.box_data button:hover {
  background: rgb(28, 68, 129);
}
.box_data .info i {
  margin-top: 25px;
  font-size: 65px;
  color: #337357;
}

/* box-right */
.box,
.box1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: #dfe9f5;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box1 {
  width: 500px;
}
.box {
  width: 500px;
}
.box p {
  font-size: 12px;
}
.box button {
  background: rgb(70, 144, 187);
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.box button:hover {
  background: rgb(28, 68, 129);
}
.box i {
  font-size: 15px;
}

.box .chart-wrapper {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box h3,
.box1 h3 {
  display: flex;
  justify-content: center;
}

.box .box_emoji {
  display: flex;
  flex-direction: column;
}

.emoji_smile,
.emoji_sad,
.emoji_mad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  width: 400px;
  height: 48px;
  background: #fff;
  border-radius: 15px;
}

.emoji_smile i,
.emoji_mad i,
.emoji_sad i {
  font-size: 50px;
}

.emoji_smile i {
  color: #337357;
}

.emoji_mad i {
  color: #d24545;
}

.emoji_sad i {
  color: #c2a346;
}

.emoji_smile p,
.emoji_mad p,
.emoji_sad p {
  margin-left: 12px;
}

.emoji_smile p span,
.emoji_mad p span,
.emoji_sad p span {
  font-weight: bold;
}

#infoValue {
  text-transform: lowercase;
}

@media (max-width: 1280px) {
  #tampilWeather{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 680px;
  }
  .main {
    max-width: 1050px;
  }
  nav {
    width: 230px;
    height: 1030px;
  }
  a{
    width: 230px;
  }
  .main-weather .card_detail{
    height: 370px;
  }
  .main-weather .card_detail img{
    height: 100px;
  }
  .main-weather .card{
    height: 175px;
  }
  .main-weather .card_detail .info_data{
    height: 150px;
  }
  .main-weather .card_detail .info_time{
    height: 180px;
    align-items: flex-end;
  }
  .main-weather .card_detail .info_data h3 {
    font-size: 25px;
  }
  .main-weather .card .info_data h3 {
    font-size: 18px;
  }
  .main-weather .card .info_data {
    border-top-left-radius: 20px;
  }
  .main-weather .card .content_data {
    padding: 0px;
    padding-top: 10px;
    width: 100%;
  }
  .main-weather .card_detail .info_time .nilaiweather p {
    font-size: 13px;
  }
  .box1,
  .box {
    width: 400px;
  }
  .emoji_mad,
  .emoji_sad,
  .emoji_smile {
    width: 350px;
  }
  .course-box{
    width: 980px;
  }
}

/* tablet */
@media (max-width: 885px) {
  #tampilWeather{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0px;
  }
  .logo img {
    width: 75px;
    height: 75px;
  }
  .logo span {
    padding-left: 0px;
    display: none;
  }
  nav {
    height: 1550px;
    width: 150px;
  }
  a {
    width: 150px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 13px;
  }
  .box1 {
    width: 200px;
  }
  .main {
    width: 638px;
  }
  .main-top {
    width: 618px;
  }
  .main-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-weather .card_detail {
    width: 570px;
    height: 250px;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
  }
  .main-weather .card_detail .info_data {
    height: 100px;
    border-top-right-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-weather .card_detail .info_data h3 {
    font-size: 28px;
  }
  .main-weather .card_detail .info_time .nilaiweather p {
    font-size: 18px;
  }
  .main-weather .card_detail .info_time .nilaiweather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main-weather .card_right {
    justify-content: space-evenly;
  }

  .main-weather .card_detail .info_time {
    display: flex;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .main-weather .card_detail .info_time img {
    width: 120px;
    height: 120px;
  }
  .main-weather .card .content_data {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 170px;
  }
  .main-weather .card_right {
    flex-wrap: wrap;
  }
  .course .box_right {
    flex-direction: column-reverse;
  }
  .course-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 625px;
  }
  .course-box .course {
    width: 620px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .box_data {
    width: 120px;
    height: 165px;
  }
  .box1,
  .box {
    width: 350px;
  }
  .emoji_sad,
  .emoji_smile,
  .emoji_mad {
    width: 280px;
    height: 35px;
  }
  .emoji_sad i,
  .emoji_smile i,
  .emoji_mad i {
    font-size: 35px;
  }
  .info h3,
  .box h3,
  .box1 h3 {
    font-size: 13px;
  }
  .box_data .info i {
    margin-top: 15px;
  }
}

/* mobile */
@media (max-width: 431px) {
  #tampilWeather{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    margin-right: 20px;
  }
  .main-weather .card .content_data{
    width: 120px;
  }
  nav {
    height: 50px;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: normal;
    list-style-type: none;
    height: auto;
    width: 438px;
  }
  .nav-item{
    margin-left: 0px;
  }
  nav ul li {
    padding-left: 0px;
    padding-right: 0px;
  }
  .logo {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
  }
  .logo img {
    width: 50px;
    height: 50px;
  }
  .logo span {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
    width: 100%;
  }
  a {
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: normal;
    padding-bottom: 0px;
  }
  a:hover:not(.active) {
    background: white;
  }
  nav .fas {
    font-size: 25px;
    width: 35px;
  }
  .main {
    width:431px;
    padding: 0px;
  }

  .main-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 431px;
    padding: 0 10px;
  }
  .main-top i {
    position: static;
    margin: 10px 0;
    font-size: 20px;
  }
  .main-top i .date {
    font-size: 15px;
  }
  .main-weather .card_detail{
    width: 350px;
  }
  .main-weather .card_detail .info_data{
    justify-content: space-between;
  }
  .main-weather .card_detail .info_time{
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .main-weather .card_detail .info_data h3{
    font-size: 30px;
  }
  .main-weather .card_detail .info_time .nilaiweather p{
    font-size: 18px;
  }
  .main-weather img{
    height: 55px;
  }
  .main-weather .card {
    height: auto;
    border-bottom-right-radius: 0px;
  }
  .main-weather .card_right{
    display: flex;
    justify-content: center;
    width: 370px;
  }
  .main-weather .card .info_data h3{
    font-size: 15px;
  }
  .main-course h1{
    font-size: 24px;
    padding-left: 10px;
  }
  .course-box ul li{
    font-size: 15px;
  }
  .course-box  ul .active{
    font-size: 17px;
  }
  .course .box_right{
    flex-direction: column;
  }
  .course-box .course{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box, .box1{
    width: 350px;
  }
  .box h3, .box1 h3, .info h3{
    font-size: 22px;
  }
  .emoji_mad, .emoji_sad, .emoji_smile{
    width: 330px;
    height: 50px;
  }
  .emoji_mad i, .emoji_sad i, .emoji_smile i{
    font-size: 35px;
  }
  .emoji_smile p, .emoji_mad p, .emoji_sad p{
    font-size: 18px;
  }
  .box_data{
    height: 230px;
    width: 350px;
  }
  .box_data p{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .box_data .info p i{
    font-size: 30px;
  }
  .box_data .info i{
    font-size: 80px;
  }
}